In [47]:
import numpy as np
import pandas as pd

In [48]:
df=pd.read_csv('IPL.csv')

In [49]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [50]:
df.tail()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
76009,617,5/21/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,5/21/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,5/21/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,5/21/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,5/21/2017,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [51]:
df.columns

Index(['mid', 'date', 'venue', 'bat_team', 'bowl_team', 'batsman', 'bowler',
       'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker',
       'non-striker', 'total'],
      dtype='object')

In [52]:
remove_columns = ['striker', 'non-striker', 'mid', 'batsman', 'bowler']
df.drop(labels = remove_columns, axis=1, inplace=True)

In [53]:
df.head()
# take only those team  which are currently present

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222

In [54]:
df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [55]:

current_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Sunrisers Hyderabad']

In [56]:
df = df[(df['bat_team'].isin(current_teams)) & (df['bowl_team'].isin(current_teams))]

In [57]:
df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore',
       'Delhi Daredevils', 'Sunrisers Hyderabad'], dtype=object)

In [58]:
df['bowl_team'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Kolkata Knight Riders',
       'Sunrisers Hyderabad'], dtype=object)

In [59]:
df['venue'].unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Sawai Mansingh Stadium',
       'MA Chidambaram Stadium, Chepauk', 'Eden Gardens',
       'Dr DY Patil Sports Academy', 'Newlands', "St George's Park",
       'Kingsmead', 'SuperSport Park', 'Buffalo Park',
       'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera',
       'Himachal Pradesh Cricket Association Stadium',
       'Subrata Roy Sahara Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Barabati Stadium', 'Maharashtra Cricket Association Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Holkar Cricket Stadium'], dtype=object)

In [60]:
#to see most used stadiums
df['count'] = 1
df.groupby(['venue']).count()['count']

venue
Barabati Stadium                                         372
Brabourne Stadium                                       1256
Buffalo Park                                             256
De Beers Diamond Oval                                    122
Dr DY Patil Sports Academy                               602
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium      617
Dubai International Cricket Stadium                      868
Eden Gardens                                            6066
Feroz Shah Kotla                                        5698
Himachal Pradesh Cricket Association Stadium             867
Holkar Cricket Stadium                                   250
JSCA International Stadium Complex                       716
Kingsmead                                               1353
M Chinnaswamy Stadium                                   5945
MA Chidambaram Stadium, Chepauk                         4982
Maharashtra Cricket Association Stadium                  502
New Wanderers Stadium                                    619
Newlands                                                 497
OUTsurance Oval                                          251
Punjab Cricket Association IS Bindra Stadium, Mohali     972
Punjab Cricket Association Stadium, Mohali              3640
Rajiv Gandhi International Stadium, Uppal               2983
Sardar Patel Stadium, Motera                            1357
Sawai Mansingh Stadium                                  3369
Shaheed Veer Narayan Singh International Stadium         614
Sharjah Cricket Stadium                                  744
Sheikh Zayed Stadium                                     836
St George's Park                                         746
Subrata Roy Sahara Stadium                               122
SuperSport Park                                          884
Wankhede Stadium                                        5705
Name: count, dtype: int64

In [61]:
current_venues = ['M Chinnaswamy Stadium','Eden Gardens', 'Feroz Shah Kotla', 'MA Chidambaram Stadium, Chepauk',
       'Punjab Cricket Association Stadium, Mohali', 
       'Wankhede Stadium', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal']

In [62]:
df = df[(df['venue'].isin(current_venues))]

In [63]:
df['venue'].unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Sawai Mansingh Stadium',
       'MA Chidambaram Stadium, Chepauk', 'Eden Gardens',
       'Rajiv Gandhi International Stadium, Uppal'], dtype=object)

In [64]:
# Removing the first 5 overs data in every match
df = df[df['overs']>=5.0]

In [65]:
# Converting 'date' from string into datetime object
from datetime import datetime
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))

#### Checking for null/nan value

In [66]:
df.isna().sum()

date              0
venue             0
bat_team          0
bowl_team         0
runs              0
wickets           0
overs             0
runs_last_5       0
wickets_last_5    0
total             0
count             0
dtype: int64

### Exploratory Data Analysis


#### Here, we will explore the data and decide what data we want to keep for feature engineering.

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28608 entries, 32 to 75888
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            28608 non-null  datetime64[ns]
 1   venue           28608 non-null  object
 2   bat_team        28608 non-null  object
 3   bowl_team       28608 non-null  object
 4   runs            28608 non-null  int64
 5   wickets         28608 non-null  int64
 6   overs           28608 non-null  float64
 7   runs_last_5     28608 non-null  int64
 8   wickets_last_5  28608 non-null  int64
 9   total           28608 non-null  int64
 10  count           28608 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(3)
memory usage: 2.6+ MB

In [68]:
df.describe()

,runs,wickets,overs,runs_last_5,wickets_last_5,total,count
count,28608.000000,28608.000000,28608.000000,28608.000000,28608.000000,28608.000000,28608.0
mean,96.141289,3.015275,12.309354,39.315192,1.318512,163.697917,1.0
std,41.390766,1.910010,4.324747,11.446833,1.069960,30.146064,0.0
min,13.000000,0.000000,5.000000,10.000000,0.000000,67.000000,1.0
25%,63.000000,2.000000,8.500000,31.000000,1.000000,144.000000,1.0
50%,91.000000,3.000000,12.300000,38.000000,1.000000,164.000000,1.0
75%,125.000000,4.000000,16.200000,46.000000,2.000000,185.000000,1.0
max,246.000000,10.000000,19.600000,94.000000,7.000000,246.000000,1.0

In [69]:
df.shape

(28608, 11)

In [70]:
df.dtypes

date              datetime64[ns]
venue                     object
bat_team                  object
bowl_team                 object
runs                       int64
wickets                    int64
overs                    float64
runs_last_5                int64
wickets_last_5             int64
total                      int64
count                      int64
dtype: object

In [71]:
# --- Data Preprocessing ---
# Converting categorical features using OneHotEncoding method

In [72]:

final_df = pd.get_dummies(data=df, columns=['bat_team', 'bowl_team', 'venue'])

In [73]:
final_df.head()

,date,runs,wickets,overs,runs_last_5,wickets_last_5,total,count,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,...,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad,venue_Eden Gardens,venue_Feroz Shah Kotla,venue_M Chinnaswamy Stadium,"venue_MA Chidambaram Stadium, Chepauk","venue_Punjab Cricket Association Stadium, Mohali","venue_Rajiv Gandhi International Stadium, Uppal",venue_Sawai Mansingh Stadium,venue_Wankhede Stadium
32,2008-04-18,61,0,5.1,59,0,222,1,0,0,...,1,0,0,0,1,0,0,0,0,0
33,2008-04-18,61,1,5.2,59,1,222,1,0,0,...,1,0,0,0,1,0,0,0,0,0
34,2008-04-18,61,1,5.3,59,1,222,1,0,0,...,1,0,0,0,1,0,0,0,0,0
35,2008-04-18,61,1,5.4,59,1,222,1,0,0,...,1,0,0,0,1,0,0,0,0,0
36,2008-04-18,61,1,5.5,58,1,222,1,0,0,...,1,0,0,0,1,0,0,0,0,0

In [74]:
final_df.columns

Index(['date', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'total', 'count', 'bat_team_Chennai Super Kings',
       'bat_team_Delhi Daredevils', 'bat_team_Kings XI Punjab',
       'bat_team_Kolkata Knight Riders', 'bat_team_Mumbai Indians',
       'bat_team_Rajasthan Royals', 'bat_team_Royal Challengers Bangalore',
       'bat_team_Sunrisers Hyderabad', 'bowl_team_Chennai Super Kings',
       'bowl_team_Delhi Daredevils', 'bowl_team_Kings XI Punjab',
       'bowl_team_Kolkata Knight Riders', 'bowl_team_Mumbai Indians',
       'bowl_team_Rajasthan Royals', 'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad', 'venue_Eden Gardens',
       'venue_Feroz Shah Kotla', 'venue_M Chinnaswamy Stadium',
       'venue_MA Chidambaram Stadium, Chepauk',
       'venue_Punjab Cricket Association Stadium, Mohali',
       'venue_Rajiv Gandhi International Stadium, Uppal',
       'venue_Sawai Mansingh Stadium', 'venue_Wankhede Stadium'],
      dtype='object')

In [75]:
#rearranging the columns
final_df = final_df[['date','bat_team_Chennai Super Kings', 'bat_team_Delhi Daredevils',
       'bat_team_Kings XI Punjab', 'bat_team_Kolkata Knight Riders',
       'bat_team_Mumbai Indians', 'bat_team_Rajasthan Royals',
       'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
       'bowl_team_Chennai Super Kings', 'bowl_team_Delhi Daredevils',
       'bowl_team_Kings XI Punjab', 'bowl_team_Kolkata Knight Riders',
       'bowl_team_Mumbai Indians', 'bowl_team_Rajasthan Royals',
       'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad', 'venue_Eden Gardens',
       'venue_Feroz Shah Kotla','venue_M Chinnaswamy Stadium',
       'venue_MA Chidambaram Stadium, Chepauk','venue_Sawai Mansingh Stadium',
       'venue_Punjab Cricket Association Stadium, Mohali',
       'venue_Rajiv Gandhi International Stadium, Uppal',
       'venue_Wankhede Stadium', 'overs','runs', 'wickets', 'runs_last_5', 'wickets_last_5',
       'total']]

In [76]:
final_df.head()

,date,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,bat_team_Kolkata Knight Riders,bat_team_Mumbai Indians,bat_team_Rajasthan Royals,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,...,venue_Sawai Mansingh Stadium,"venue_Punjab Cricket Association Stadium, Mohali","venue_Rajiv Gandhi International Stadium, Uppal",venue_Wankhede Stadium,overs,runs,wickets,runs_last_5,wickets_last_5,total
32,2008-04-18,0,0,0,1,0,0,0,0,0,...,0,0,0,0,5.1,61,0,59,0,222
33,2008-04-18,0,0,0,1,0,0,0,0,0,...,0,0,0,0,5.2,61,1,59,1,222
34,2008-04-18,0,0,0,1,0,0,0,0,0,...,0,0,0,0,5.3,61,1,59,1,222
35,2008-04-18,0,0,0,1,0,0,0,0,0,...,0,0,0,0,5.4,61,1,59,1,222
36,2008-04-18,0,0,0,1,0,0,0,0,0,...,0,0,0,0,5.5,61,1,58,1,222

## Spliting the data into train and test set

In [77]:
x_train = final_df.drop(labels='total', axis=1)[final_df['date'].dt.year<=2016]
x_test = final_df.drop(labels='total', axis=1)[final_df['date'].dt.year>=2017]

In [78]:
y_train = final_df[final_df['date'].dt.year<=2016]['total'].values
y_test = final_df[final_df['date'].dt.year>=2017]['total'].values

### Date i have just used train test split for bulding model date not required

In [79]:
x_train.drop(labels='date', axis=True, inplace=True)
x_test.drop(labels='date', axis=True, inplace=True)

### --- Model Building ---

In [92]:
from sklearn.linear_model import LinearRegression

In [93]:
lr=LinearRegression()

In [94]:
lr.fit(x_train,y_train)

LinearRegression()

In [95]:
lr.score(x_train,y_train)

0.6655946965223132

In [96]:
lr.score(x_test, y_test)

0.7143567456636127

In [85]:
from sklearn.tree import DecisionTreeClassifier  
dt= DecisionTreeClassifier()  
dt.fit(x_train, y_train)

DecisionTreeClassifier()

In [86]:
dt.score(x_train,y_train)

0.9998478103717232

In [87]:
dt.score(x_test, y_test)

0.003010752688172043

In [97]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(x_train, y_train)

RandomForestRegressor()

In [98]:
rf.score(x_train, y_train)

0.9958357034782624

In [99]:
rf.score(x_test, y_test)

0.5188243660165199

In [100]:
temp_array = list()

print(" ---------------------------------------------- ")
print("|         Choose The Batting Team              |")
print("|  Enter CSK for Chennai Super Kings           |")        
print("|  Enter DD for Delhi Daredevils               |")     
print("|  Enter KP for Kings XI Punjab                |")     
print("|  Enter KKR for Kolkata Knight Riders         |")     
print("|  Enter MI for Mumbai Indians                 |")     
print("|  Enter RR for Rajasthan Royals               |")     
print("|  Enter RCB for Royal Challengers Bangalore   |")     
print("|  Enter SRH for Sunrisers Hyderabad           |")     
print(" ---------------------------------------------- ")

batting_team = input("Enter the Batting Team : ")
batting_team = batting_team.lower()
if batting_team == 'csk':
    temp_array = temp_array + [1,0,0,0,0,0,0,0]
elif batting_team == 'dd':
    temp_array = temp_array + [0,1,0,0,0,0,0,0]
elif batting_team == 'kp':
    temp_array = temp_array + [0,0,1,0,0,0,0,0]
elif batting_team == 'kkr':
    temp_array = temp_array + [0,0,0,1,0,0,0,0]
elif batting_team == 'mi':
    temp_array = temp_array + [0,0,0,0,1,0,0,0]
elif batting_team == 'rr':
    temp_array = temp_array + [0,0,0,0,0,1,0,0]
elif batting_team == 'rcb':
    temp_array = temp_array + [0,0,0,0,0,0,1,0]
elif batting_team == 'srh':
    temp_array = temp_array + [0,0,0,0,0,0,0,1]
    
print(" ---------------------------------------------- ")
print("|         Choose The Bowling Team              |")
print("|  Enter CSK for Chennai Super Kings           |")        
print("|  Enter DD for Delhi Daredevils               |")     
print("|  Enter KP for Kings XI Punjab                |")     
print("|  Enter KKR for Kolkata Knight Riders         |")     
print("|  Enter MI for Mumbai Indians                 |")     
print("|  Enter RR for Rajasthan Royals               |")     
print("|  Enter RCB for Royal Challengers Bangalore   |")     
print("|  Enter SRH for Sunrisers Hyderabad           |")     
print(" ---------------------------------------------- ")

bowling_team = input("Enter the Bowling Team : ").lower()
if bowling_team == 'csk':
    temp_array = temp_array + [1,0,0,0,0,0,0,0]
elif bowling_team == 'dd':
    temp_array = temp_array + [0,1,0,0,0,0,0,0]
elif bowling_team == 'kp':
    temp_array = temp_array + [0,0,1,0,0,0,0,0]
elif bowling_team == 'kkr':
    temp_array = temp_array + [0,0,0,1,0,0,0,0]
elif bowling_team == 'mi':
    temp_array = temp_array + [0,0,0,0,1,0,0,0]
elif bowling_team == 'rr':
    temp_array = temp_array + [0,0,0,0,0,1,0,0]
elif bowling_team == 'rcb':
    temp_array = temp_array + [0,0,0,0,0,0,1,0]
elif bowling_team == 'srh':
    temp_array = temp_array + [0,0,0,0,0,0,0,1]
    
print(" ----------------------------------------------------------- ")
print("|            Choose The Venue                               |")
print("|  Enter MCS for M Chinnaswamy Stadium                      |")        
print("|  Enter EG for Eden Gardens                                |")     
print("|  Enter FSK for Feroz Shah Kotla                           |")     
print("|  Enter CHD for MA Chidambaram Stadium, Chepauk            |")     
print("|  Enter MH for Punjab Cricket Association Stadium, Mohali  |")     
print("|  Enter WS for Wankhede Stadium                            |")     
print("|  Enter SMS for Sawai Mansingh Stadium                     |")     
print("|  Enter RG for Rajiv Gandhi International Stadium, Uppal   |")     
print(" ----------------------------------------------------------- ")

Venue = input("Enter the Venue : ").lower()
if Venue == 'mcs':
    temp_array = temp_array + [1,0,0,0,0,0,0,0]
elif Venue == 'eg':
    temp_array = temp_array + [0,1,0,0,0,0,0,0]
elif Venue == 'fsk':
    temp_array = temp_array + [0,0,1,0,0,0,0,0]
elif Venue == 'chd':
    temp_array = temp_array + [0,0,0,1,0,0,0,0]
elif Venue == 'mh':
    temp_array = temp_array + [0,0,0,0,1,0,0,0]
elif Venue == 'ws':
    temp_array = temp_array + [0,0,0,0,0,1,0,0]
elif Venue == 'sms':
    temp_array = temp_array + [0,0,0,0,0,0,1,0]
elif Venue == 'rg':
    temp_array = temp_array + [0,0,0,0,0,0,0,1]


overs = float(input("Enter the Overs : "))
runs = int(input("Enter the Runs : "))
wickets = int(input("Enter the Wickets : "))
runs_in_prev_5 = int(input("Enter the Runs in previous 5 overs : "))
wickets_in_prev_5 = int(input("Enter the Wickets in previous 5 overs : "))

temp_array = temp_array + [overs, runs, wickets, runs_in_prev_5, wickets_in_prev_5]

data = np.array([temp_array])
my_prediction = int(lr.predict(data)[0])
lower_limit = my_prediction-10
upper_limit = my_prediction+10
print('Predicted Score : ',lower_limit, " - ",upper_limit)

 ----------------------------------------------
|         Choose The Batting Team              |
|  Enter CSK for Chennai Super Kings           |
|  Enter DD for Delhi Daredevils               |
|  Enter KP for Kings XI Punjab                |
|  Enter KKR for Kolkata Knight Riders         |
|  Enter MI for Mumbai Indians                 |
|  Enter RR for Rajasthan Royals               |
|  Enter RCB for Royal Challengers Bangalore   |
|  Enter SRH for Sunrisers Hyderabad           |
 ----------------------------------------------
Enter the Batting Team : KP
 ----------------------------------------------
|         Choose The Bowling Team              |
|  Enter CSK for Chennai Super Kings           |
|  Enter DD for Delhi Daredevils               |
|  Enter KP for Kings XI Punjab                |
|  Enter KKR for Kolkata Knight Riders         |
|  Enter MI for Mumbai Indians                 |
|  Enter RR for Rajasthan Royals               |
|  Enter RCB for Royal Challengers Bangalore   |
|  Enter SRH for Sunrisers Hyderabad           |
 ----------------------------------------------
Enter the Bowling Team : KKR
 -----------------------------------------------------------
|            Choose The Venue                               |
|  Enter MCS for M Chinnaswamy Stadium                      |
|  Enter EG for Eden Gardens                                |
|  Enter FSK for Feroz Shah Kotla                           |
|  Enter CHD for MA Chidambaram Stadium, Chepauk            |
|  Enter MH for Punjab Cricket Association Stadium, Mohali  |
|  Enter WS for Wankhede Stadium                            |
|  Enter SMS for Sawai Mansingh Stadium                     |
|  Enter RG for Rajiv Gandhi International Stadium, Uppal   |
 -----------------------------------------------------------
Enter the Venue : EG
Enter the Overs : 10.2
Enter the Runs : 68
Enter the Wickets : 3
Enter the Runs in previous 5 overs : 29
Enter the Wickets in previous 5 overs : 1
Predicted Score :  140  -  160

In [46]:
import pickle
filename = 'Score_Prediction_LR_mod.sav'
pickle.dump(lr, open(filename, 'wb'))